@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main_page{
    display: flex;
}
.pages{
    display: flex;
    flex-direction: column;
    background-color: #e5f4f3;
    width: 450px;
    min-width: 350px;
    height: 95vh;
    position: relative;
}
.body{
    margin: 30px 0;
}
.function{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

p{
    font-weight: bold;
    margin-left: 10px;
}
#icon{
    /* margin: 50px 0 10px 30px; */
    width: 15%;
    height: 20%;
    margin: 10px;
}
.avt{
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 40px
}
.user_info{
    margin: 10px;
    display: flex;
}

.info{
    width: 50%;
    margin: 20px;
    text-align: left;

}
.dashboard {
    background-image: linear-gradient(to left top, #051937, #003553, #00526b, #1a717e, #42908d);
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.dashboard h1, h2{
    color: #e5f4f3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #e5f4f3;
    position: fixed;
    width: 100%;
    bottom: 0;
}

input {
    font-size: 18px ;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 30%;
    padding: 20px;
    margin: 10px auto;
    font-size: 20px;
    background-color: #3e7fad;
    color: #e5f4f3;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}
#uploadForm{
    display: flex;
    flex-direction: column;
}
/* //// */
.container {
    background-color: #e5f4f3;
    width: 100%;
    padding: 100px;
    /* position: absolute; */
    margin: 20px auto;
    box-shadow: 0 1.25em 3.43em rgba(0, 0, 0, 0.08);
    border-radius: 0.5em;
}
input[type="file"] {
    display: none;
}
label {
    display: block;
    position: relative;
    background-color: #3e7fad;
    color: #e5f4f3;
    font-size: 1.1em;
    text-align: center;
    width: 16em;
    padding: 1em 0;
    border-radius: 0.3em;
    margin: 0 auto 1em auto;
    cursor: pointer;
}

#file-display {
    /* position: relative; */
    width: 90%;
    margin: 0 auto;
    gap: 1.25em;
}
.active {
    border: 0.2em dashed #025bee;
}
#error {
    text-align: center;
    color: #ff3030;
}
.file-icon{
    width: 8%;
}
.excel-file{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body{
    position: relative;
}
.animation{
    position: absolute;
    height: 25%;
    top: 0;
    z-index: 0;
    background: #42908d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all .2s ease 0s;
}
