.animation{
    width: 100%;
    top: 271px;
}
div:nth-child(2):hover~.animation{
    width: 100%;
    top: 215px;
}
div:nth-child(1):hover~.animation{
    width: 100%;
    top: 158px;
}
div:nth-child(4):hover~.animation {
    width: 100%;
    top: 327px;
}