<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/assets/css/admin_css/main_page.css}">
    <link rel="stylesheet" th:href="@{/assets/css/toast.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin_css/admin.css}">
</head>
<body>
    <section class="main_page">
        <div th:replace="~{admin_html/header :: header}"></div>
            <section class="dashboard">
                <h1>Thông Báo</h1>
                <div class="upload-section">
                    <h2>Những thông báo mới nhất sẽ được hiển thị ở đây</h2>
                    <div class="drag-drop"></div>
                </div>
            </section>
    </section>
    <footer>
        <p>#All Rights Reserved. CTUT © 2024 Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ</p>
    </footer>
</body>
</html>
