<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Admin</title>
    <link rel="stylesheet" th:href="@{/assets/css/admin_css/trang-thongbao.css}">
    <link rel="stylesheet" th:href="@{/assets/css/toast.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin_css/admin.css}">
</head>
<body>
    <section class="main_page">
        <div th:replace="~{admin_html/sidebar :: sidebar}"></div>
            <section class="dashboard">
                <h1>Thông Báo</h1>
                <h2>Những thông báo mới nhất sẽ được hiển thị ở đây</h2>


            </section>
    </section>
</body>
</html>
