<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Admin</title>
    <link rel="stylesheet" th:href="@{/assets/css/admin_css/trang-quanly.css}">
    <link rel="stylesheet" th:href="@{/assets/css/toast.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin_css/admin.css}">
</head>
<body onload="timSVBangDieuKien(event)">
    <section class="main_page">
        <div th:replace="~{admin_html/sidebar :: sidebar}"></div>
            <section class="dashboard">
                <h1>Quản Lý Sinh Viên</h1>
                <div class="dieukienloc">
                    <br>
                    <label for="khoa">Chọn khoa:</label>
                    <select id="khoa">
                        <option value="none" selected>không có</option>
<!--                        <option value="CNTT">CNTT</option>-->
<!--                        <option value="ANM">ANM</option>-->
<!--                        <option value="CSDL">CSDL</option>-->
<!--                        <option value="CNSH">CNSH</option>-->
<!--                        <option value="LUAT">LUAT</option>-->
                    </select>
                    <label for="nganh">Chọn ngành:</label>
                    <select id="nganh">
                        <option value="none" selected>không có</option>
<!--                        <option value="Kỹ thuật phần mềm">Kỹ thuật phần mềm</option>-->
<!--                        <option value="Công nghệ thông tin">Công nghệ thông tin</option>-->
<!--                        <option value="An ninh mạng">An ninh mạng</option>-->
<!--                        <option value="Cơ sở dữ liệu">Cơ sở dữ liệu</option>-->
                    </select>
                    <label for="nienKhoa">Chọn khóa:</label>
                    <select id="nienKhoa">
                        <option value="none" selected>không có</option>
<!--                        <option value="2020">2020</option>-->
<!--                        <option value="2021">2021</option>-->
<!--                        <option value="2022">2022</option>-->
<!--                        <option value="2023">2023</option>-->
<!--                        <option value="2102">2102</option>-->
<!--                        <option value="2322">2322</option>-->
<!--                        <option value="2323">2323</option>-->
                    </select>
                    <br>
                    <label for="search">Nhập tên sinh viên hoặc mssv cần tìm: </label>
                    <select id="tensvOrmssv">
                        <option value="tenSV" selected>Tên sinh viên</option>
                        <option value="mssv">Mã số sinh viên</option>
                    </select>
                    <input type="text" id="search">
                    <button onclick="timSVBangDieuKien(event)">Tìm kiếm</button>
                </div>
                <table id="userList">
                    <tr>
                        <th>Mã số sinh viên</th>
                        <th>Tên sinh viên</th>
                        <th>Ngày sinh</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Lớp</th>
                        <th>Khóa</th>
                        <th>Ngành</th>
                        <th>Khoa</th>
                    </tr>
                </table>
                <footer>
                    <p>#All Rights Reserved. CTUT © 2024 Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ</p>
                </footer>
            </section>
    </section>
    <script th:src="@{/assets/js/admin_js/laysinhvien.js}"></script>
</body>
</html>
