<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="upload-section" th:fragment="upload-section">
    <form id="uploadForm" enctype="multipart/form-data">
      <div class="container">
        <input type="file" id="upload-button"/>
        <label for="upload-button"><i class="fa-solid fa-upload"></i>&nbsp; Chọn hoặc thả file vào đây</label>
        <div id="error"></div>
        <div id="file-display"></div>
      </div>
      <button type="submit">Upload</button>
    </form>
  </div>
</body>
</html>