<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/assets/css/admin_css/sinhvien.css}">
    <link rel="stylesheet" th:href="@{/assets/css/toast.css}">
    <link rel="stylesheet" th:href="@{/assets/css/admin_css/admin.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="main_page">
        <div th:replace="~{admin_html/header :: header}"></div>
            <section class="dashboard">
                <h1>Quản Lý Sinh Viên</h1>
                <div class="upload-section">
                    <h2>Upload tệp dịnh dạng excel</h2>
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="container">
                            <input type="file" id="upload-button"/>
                            <label for="upload-button"><i class="fa-solid fa-upload"></i>&nbsp; Chọn hoặc thả file vào đây</label>
                            <div id="error"></div>
                            <div id="file-display"></div>
                        </div>
                            <button type="submit">Upload</button>
                        </form>
                </div>
            </section>
    </section>
    <footer>
        <p>#All Rights Reserved. CTUT © 2024 Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ</p>
    </footer>
    <script th:src="@{/assets/js/admin_js/student-upload.js}"></script>
    <script th:src="@{/assets/js/admin_js/drag&drop.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js}"></script>
</body>
</html>
