<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quản lý</title>

    <link rel="stylesheet" th:href="@{/assets/css/quanly_css/quanly.css}">
    <link rel="stylesheet" th:href="@{/assets/css/quanly_css/pcgv.css.css}">

</head>
<body>
    <header>
        <h2>CTUT</h2>
        <a href="">Đăng xuất</a>
    </header>
    <section class="main_page">
            <div class="pages">
                <section class="user_info">
                    <img th:src="@{/assets/images/quanly_img/astronaut.png}" alt="" width="30%">
                    <div class="info">
                        <p>Nguyễn Văn A</p>
                        <p>nguyenvana@gmail.com</p>
                    </div>
                </section>
                <section class="body">
                    <div id="thongbao" class="function" onclick="location.href='http://localhost:8080/quanly'">
                        <img th:src="@{/assets/images/quanly_img/notification.png}" id="icon">
                        <p>Quản lý thông báo</p>
                    </div>
                    <div id="qldetai" class="function" onclick="location.href='http://localhost:8080/qldetai'">
                        <img th:src="@{/assets/images/quanly_img/student.png}" id="icon">
                        <p>Quản Lý Đề Tài</p>
                    </div>
                    <div id="phanconggv" class="function" onclick="location.href='http://localhost:8080/phanconggv'">
                        <img th:src="@{/assets/images/quanly_img/profile.png}" id="icon">
                        <p>Phân Công Giang Viên</p>
                    </div>
                </section>
            </div>
        <div class="container">
            <div class="sidebar">
            </div>
            <div class="main-content">
                <div class="header">
                    <h1>Danh sách giảng viên</h1>
                    <div class="user-info">
                    </div>
                </div>
                <button class="btn btn-success">+ Thêm mới </button>
                <table>
                    <thead>
                        <tr>
                            <th>Tên Giảng Viên</th>
                            <th>Chương trình đào tạo</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nguyễn Văn A </td>
                            <td>CTĐT/VT</td>
                            <td>
                                <a href="#" class="btn btn-primary">Phân công</a>
                                <a href="sua_phanconggv.html" target="logweb">Sửa</a>
                                <a href="#" class="btn btn-danger">Xóa</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
</div>
    </section>
    <footer>
        <p>#All Rights Reserved. CTUT © 2024 Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ</p>
    </footer>
</body>
</html>
