<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quản lý</title>
    <link rel="stylesheet" th:href="@{/assets/css/quanly_css/admin.css}">
    <link rel="stylesheet" th:href="@{/assets/css/quanly_css/trang-qlydetai.css}">
</head>
<body>
    <section class="main_page">
        <div th:replace="~{quanly_html/sidebar :: sidebar}"></div>
        <section class="dashboard">
            <h1>Quản Lý Đề Tài</h1>
            <div class="excel-actions">
                <button id="print-button" class="btn">In Danh Sách</button>
            </div>
            <div class="dieukienloc">
                <br>
                <section class="search-section">
                    <label for="khoa">Chọn tên khoa:</label>
                    <select id="khoa">
                        <option value="none" selected>không có</option>
                    </select>
                    <label for="tinhtrang">Chọn tình trạng:</label>
                    <select id="tinhtrang">
                        <option value="none" selected>không có</option>
                        <option value="dangthuchien">Đang thực hiện</option>
                        <option value="dahoanthanh">Đã hoàn thành</option>
                    </select>
                    <br>
                    <label for="search">Nhập mã giảng viên hoặc mã đề tài: </label>
                    <select id="magvOrmadetai">
                        <option value="magv" selected>Mã giảng viên</option>
                        <option value="madetai">Mã đề tài</option>
                    </select>
                    <input type="text" id="search">
                    <button onclick="timdetaiBangDieuKien(event)">Tìm kiếm</button>
                </section>
                <section class="themDeTai">
                    <div id="themDetai" class="add" onclick="location.href='http://localhost:8080/quanly/upload/detai'">
                        <img th:src="@{/assets/images/project.png}">
                        <p>Thêm đề tài</p>
                    </div>
                </section>
            </div>
            <table id="userList">
                <tbody>
                    <th>STT</th>
                    <th>Mã đề tài</th>
                    <th>Tên đề tài</th>
                    <th>Mã giảng viên</th>
                    <th>Số lượng sinh viên</th>
                    <th>Tên khoa</th>
                    <th>Ngày tạo đề tài</th>
                    <th>Ngày bắt đầu đề tài</th>
                    <th>Ngày bắt đầu đề tài</th>
                    <th>Tình trạng</th>
                    <th>File Đề Cương</th>
                </tbody>
            </table>
            </div>
            </div>
        </section>
    </section>
        <script src="/js/qldetai.js"></script>
</body>
</html>
