<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Trang quản lý</title>
    <link rel="stylesheet" th:href="@{/assets/css/quanly_css/trang-qlydetai.css}">
    <link rel="stylesheet" th:href="@{/assets/css/toast.css}">
    <link rel="stylesheet" th:href="@{/assets/css/quanly_css/admin.css}">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
</head>
<body onload="timDTBangDieuKien(event)">
<section class="main_page">
    <div th:replace="~{quanly_html/sidebar :: sidebar}"></div>
    <section class="dashboard" id="dashboard">
        <div class="hidden" id="form-container">
            <button onclick="hideUpdateInput()">Quay về</button>
            <br>
            <br>
            <h2>Chỉnh Sửa Thông Tin Của Đề Tài</h2>
            <form action="#" id="updateDTForm" method="post">
                <div class="form-group">
                    <label for="madetai">Mã đề tài:</label>
                    <input disabled id="madetai" name="madetai" type="text">
                </div>
                <br>
                <div class="form-group">
                    <label for="tenDT">Tên đề tài:</label>
                    <input id="tenDT" name="tenDT" required type="text">
                </div>
                <br>
                <div class="form-group">
                    <label for="maGV">Mã giảng viên:</label>
                    <input id="maGV" name="maGV" required type="text">
                </div>
                <br>
                <div class="form-group">
                    <label for="SLuong">Số lượng sinh viên:</label>
                    <input id="SLuong" name="SLuong" required type="text">
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="tenKhoa">Chọn khoa:</label>
                    <select id="tenKhoa"></select>
                </div>
                <div class="form-group">
                    <label for="ngayTaoDT">Ngày tạo đề tài:</label>
                    <input id="ngayTaoDT" name="ngayTaoDT" required type="date">
                </div>
                <div class="form-group">
                    <label for="ngayBatDau">Ngày bắt đầu đề tài:</label>
                    <input id="ngayBatDau" name="ngayBatDau" required type="date">
                </div>
                <div class="form-group">
                    <label for="ngayKetThuc">Ngày kết thúc đề tài:</label>
                    <input id="ngayKetThuc" name="ngayKetThuc" type="date">
                </div>
                <br>
                <div class="form-group">
                    <label for="trangThai">Tình trang:</label>
                    <select id="trangThai">
                        <option selected value="Chưa hoàn thành">Chưa hoàn thành</option>
                        <option value="Đã hoàn thành">Đã hoàn thành</option>
                    </select>
                </div>
                <br>
                <br>
                <br>
                <div class="form-group">
                    <button type="submit">Cập Nhật Thông Tin</button>
                </div>
            </form>
            <br>
            <br>
            <br>
            <br>
        </div>
        <h1>Quản Lý Đề Tài</h1>
        <div class="dieukienloc">
            <section class="search-section">
                <section class="filter-section">
                    <label for="startDay">Ngày bắt đầu đề tài từ ngày:</label>
                    <input id="startDay" name="start" required type="date">
                    <label for="endDay">Cho đến ngày:</label>
                    <input id="endDay" name="end" type="date">
                    <label for="khoa">Chọn tên khoa:</label>
                    <select id="khoa">
                        <option selected value="none">không có</option>
                    </select>
                    <label for="tinhtrang">Chọn tình trạng:</label>
                    <select id="tinhtrang">
                        <option selected value="none">không có</option>
                        <option value="Chưa hoàn thành">Chưa hoàn thành</option>
                        <option value="Đã hoàn thành">Đã hoàn thành</option>
                    </select>
                </section>
                <label for="search">Nhập mã giảng viên hoặc mã đề tài: </label>
                <select id="magvOrmadetai">
                    <option selected value="maGV">Mã giảng viên</option>
                    <option value="madetai">Mã đề tài</option>
                </select>
                <input id="search" type="text">
                <button onclick="timDTBangDieuKien(event)">Tìm kiếm</button>
            </section>
            <section class="themDeTai">
                <div class="add" id="print-button">
                    <p>In bảng</p>
                    <img th:src="@{/assets/images/printer.png}">
                </div>
                <div class="add" id="themDetai" onclick="location.href='http://localhost:8080/quanly/upload/detai'">
                    <p>Thêm đề tài</p>
                    <img th:src="@{/assets/images/folder-management.png}">
                </div>
                <div class="add" id="xuatFile" onclick="location.href='http://localhost:8080/export/detai'">
                    <p>Xuất file excel</p>
                    <img th:src="@{/assets/images/xlsx.png}">
                </div>
            </section>
        </div>
        <table id="userList">
            <tbody>
            <th>Mã đề tài</th>
            <th>Tên đề tài</th>
            <th>Mã giảng viên</th>
            <th>Số lượng sinh viên</th>
            <th>Tên khoa</th>
            <th>Ngày tạo đề tài</th>
            <th>Ngày bắt đầu đề tài</th>
            <th>Ngày kết thúc đề tài</th>
            <th>Tình trạng</th>
            </tbody>
        </table>
        <footer>
            <p>#All Rights Reserved. CTUT © 2024 Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ</p>
        </footer>
    </section>
</section>
<script th:src="@{/assets/js/quanly_js/laydetai.js}"></script>
<script th:src="@{/assets/js/quanly_js/sidebar.js}"></script>
<script th:src="@{/assets/js/quanly_js/showToast.js}"></script>
</body>
</html>
