!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sidebar" th:fragment="sidebar">

    <section class="user_info">
        <img alt="" th:src="@{/assets/images/dog.png}" width="30%">
        <div class="info">
            <h2>Chào mừng, <span th:text="${username}">[Tên người dùng]</span>!</h2>
        </div>
    </section>
    <a id="logout" onclick="showPopup()">Đăng xuất</a>
    <div class="overlay" id="overlay"></div>
    <div class="popup" id="logoutPopup">
        <h2>Bạn có chắc chắn muốn đăng xuất?</h2>
        <br>
        <div class="popup-buttons">
            <button class="popup-button cancel" onclick="hidePopup()">Quay lại</button>
            <button class="popup-button logout" onclick="location.href='http://localhost:8080/logout'">Đăng Xuất
            </button>
        </div>
    </div>

    <section class="sidebar-body">
        <div class="function" id="trangchu" onclick="location.href='http://localhost:8080/quanly'">
            <img class="icon" th:src="@{/assets/images/home.png}">
            <p>Trang chủ</p>
        </div>
        <div class="function" id="quanlydetai" onclick="location.href='http://localhost:8080/quanly/quanly-detai'">
            <img class="icon" th:src="@{/assets/images/folder-management.png}">
            <p>Quản lý đề tài</p>
        </div>
        <div class="function" id="quanlykhoa" onclick="location.href='http://localhost:8080/quanly/quanly-khoa'">
            <img class="icon" th:src="@{/assets/images/hierarchy.png}">
            <p>Quản lý khoa</p>
        </div>
        <div class="dropdown">
            <div class="function" id="user">
                <img class="icon" th:src="@{/assets/images/skills.png}">
                <p>Quản Lý Người Dùng</p>
            </div>
            <div class="dropdown-content">
                <a href='http://localhost:8080/quanly/quanly-sinhvien'> Sinh Viên </a>
                <a href='http://localhost:8080/quanly/quanly-giangvien'>Giảng Viên</a>
            </div>
        </div>
        <div class="animation start-noti"></div>
        <img class="icon" id="toTopBtn" onclick="toTop()" th:src="@{/assets/images/go-up.png}">
    </section>
</div>
</body>
</html>