<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang quản lý</title>
    <link rel="stylesheet" th:href="@{/assets/css/quanly_css/trang-thongbao.css}">
    <link rel="stylesheet" th:href="@{/assets/css/toast.css}">
    <link rel="stylesheet" th:href="@{/assets/css/quanly_css/admin.css}">
</head>
<body onload="layThongbao()">
    <section class="main_page">
        <div th:replace="~{quanly_html/sidebar :: sidebar}"></div>
            <section class="dashboard">
                <button onclick="HienThongBao()" id="hientbaoBtn">Xem thông báo</button>
                <section class="hidden" id="thongbao-section">
                    <button onclick="AnThongBao()">Xem biểu đồ</button>
                    <br>
                    <br>
                    <h2>Những thông báo mới nhất trên hệ thống sẽ được hiển thị ở đây <img th:src="@{/assets/images/notification.png}" width="30px"></h2>
                    <br>
                    <table id="thongBaoList"></table>
                </section>
                <section id="bieudo-section" >
                    <br>
                    <h2>Biểu đồ thể hiện số đề tài hoàn thành và chưa hoàn thành của từng khoa</h2>
                    <br>
                    <br>
                    <canvas id="myChart" width="400" height="200"></canvas>
                </section>
            </section>
    </section>
    <script th:src="@{/assets/js/quanly_js/laythongbao.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
