<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="hidden" id="upload-section" th:fragment="upload-section">
      <button onclick="unhideCreateSection()">Thêm sinh viên/giảng viên mới bằng form</button>
    <h2>Upload tệp dịnh dạng excel</h2>
    <form id="uploadForm" enctype="multipart/form-data">
      <div class="container">
        <input type="file" id="upload-button"/>
        <label for="upload-button"><i class="fa-solid fa-upload"></i>&nbsp; Chọn hoặc thả file vào đây</label>
        <div id="error"></div>
        <div id="file-display"></div>
      </div>
      <button type="submit">Upload</button>
    </form>
    <footer>
      <p>#All Rights Reserved. CTUT © 2024 Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ</p>
    </footer>
  </div>
</body>
</html>