<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quản lý</title>
    <link rel="stylesheet" href="/quanly/css/qldetai.css">
    <link rel="stylesheet" href="/quanly/css/style.css">
</head>
<body>
    <header>
        <h2>CTUT</h2>
        <a href="">Đăng xuất</a>
    </header>
    <section class="main_page">
            <div class="pages">
                <section class="user_info">
                    <img src="img/astronaut.png" alt="" width="30%">
                    <div class="info">
                        <p>Nguyễn Phúc Khang</p>
                        <p>khangnguyen@gmail.com</p> 
                    </div>  
                </section> 
                <section class="body">
                    <div id="thongbao" class="function" onclick="location.href='thongbao.html'">
                        <img src="img/notification.png" id="icon">
                        <p>Quản lý thông báo</p> 
                    </div>
                    <div id="trangchu" class="function" onclick="location.href='upload_trangchu.html'">
                        <img src="img/user.png" id="icon">
                        <p>Trang Chủ</p>
                    </div>
                    <div id="qldetai" class="function" onclick="location.href='upload_qldetai.html'">
                        <img src="img/student.png" id="icon">
                        <p>Quản Lý Đề Tài</p>
                    </div>
                    <div id="phanconggv" class="function" onclick="location.href='upload_phanconggv.html'">
                        <img src="img/profile.png" id="icon">
                        <p>Phân Công Giang Viên</p>
                    </div>
                </section>
            </div>
            <section class="dashboard">
                <h1>Quản Lý Đề Tài</h1>
                <div class="upload-section">
                    <h2>Upload tệp dịnh dạng excel</h2>
                    <div class="drag-drop">
                        <p>Thả Tệp Của Bạn Vào Đây</p>
                    </div>
                </div>
    </section>
    <footer>
        <p>#All Rights Reserved. CTUT © 2024 Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ</p>
    </footer>
</body>
</html>
