<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="upload-section-body" th:fragment="upload-section">
    <h2>Upload tệp dịnh dạng excel</h2>
    <form enctype="multipart/form-data" id="uploadForm">
        <div class="container">
            <input id="upload-button" type="file"/>
            <label for="upload-button"><i class="fa-solid fa-upload"></i>&nbsp; Chọn hoặc thả file vào đây</label>
            <div id="error"></div>
            <div id="file-display"></div>
        </div>
        <button type="submit">Upload</button>
    </form>
    <footer>
        <p>#All Rights Reserved. CTUT © 2024 Trường Đại Học Kỹ Thuật - Công Nghệ Cần Thơ</p>
    </footer>
</div>
</body>
</html>