/*///sidebar///*/
.animation{
    width: 90%;
    top: 189px;

}
div:nth-child(2):hover~.animation{
    width: 90%;
    top: 67px;
}
div:nth-child(1):hover~.animation{
    width: 90%;
    top: 8px;
}
div:nth-child(3):hover~.animation{
    width: 90%;
    background: var(--button-color);
    top: 128px;
}
.form-container{
    margin-left: 50px;
}
.hidden{
    display: none;
}
/*///footer///*/
footer{
    margin-top: 200px;
}
/*///search-bar//*/
.dieukienloc {
    display: flex;
}
.search-section{
    margin-top: 20px;
}
/*search-section */
button{
    background-color: #3dbdf8;
    border: none;
    padding: 10px;
    border-radius: 2px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.themSV{
    display: flex;
    margin-left: auto;
    width: 250px;
    gap: 50px;
}
.themSV p{
    font-size: 13px;
}
.themSV img{
    width: 100%;
}

.themGV{
    display: flex;
    margin-left: auto;
    font-size: 10px;
    width: 250px;
    gap: 50px;
}
.themGV img{
    width: 100%;
}
.themGV p{
    font-size: 13px;
}
.add{
    cursor: pointer;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 12px;
}

/*table*/
table {
    margin-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #c7dbe4;
    text-align: left;
    padding: 10px;
}
tr:nth-child(1) {
    background-color: #3dbdf8;
}
input{
    padding: 5px;
    width: 400px;
    margin-top: 40px;
    font-size: 16px ;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    padding: 5px;
    font-size: 16px ;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#capNhatBtn{
    background-color: #4f4fba;
}
#xoaBtn{
    background-color: #ff0000;
}