
/*upload section*/
#upload-section input {
    font-size: 18px ;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#upload-section footer{
    margin-top: 245px;
}
#uploadForm{
    margin-top: 50px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.container {
    background-color: var(--main-color);
    width: 95%;
    padding: 150px;
    margin: 20px auto;
    border-radius: 0.5em;
}
input[type="file"] {
    display: none;
}
#upload-section label {
    display: block;
    position: relative;
    background-color: var(--button-color);
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    width: 15em;
    padding: 1em 0;
    border-radius: 0.3em;
    margin: 0 auto 1em auto;
    cursor: pointer;
}

#upload-section button[type="submit"], #create-section button[type="submit"] {
    min-width: 25%;
    padding: 25px;
    margin: auto;
    font-size: 20px;
    background-color: var(--button-color);
    color: #ffffff;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
}
#upload-section button, #create-section button, #backbtn{
    background-color: #3dbdf8;
    border: none;
    padding: 10px;
    border-radius: 2px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
#file-display {
    /* position: relative; */
    width: 90%;
    margin: 0 auto;
    gap: 1.25em;
}
.active {
    border: 0.2em dashed #025bee;
}
#error {
    text-align: center;
    color: #ff3030;
}
.file-icon{
    width: 8%;
}
.excel-file{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*animation*!*/
.animation{
    width: 100%;
    background: var(--button-color);
    top: 351px;

}
div:nth-child(1):hover~.animation{
    width: 100%;
    background: var(--button-color);
    top: 183px;
}
div:nth-child(2):hover~.animation{
    width: 100%;
    background: var(--button-color);
    top: 239px;
}
div:nth-child(3):hover~.animation{
    width: 100%;
    background: var(--button-color);
    top: 295px;
}
/*create section*/
#create-section input{
    padding: 5px;
    width: 500px;
    margin-top: 40px;
    font-size: 16px ;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#create-section select{
    /*display: block;*/
    padding: 5px;
    font-size: 16px ;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#create-section{
    margin-left: 50px;
}
.hidden{
    display: none;
}
#create-section footer{
    margin-top: auto;
}
