.animation{
    width: 100%;
    background: var(--button-color);
    top: 158px;
}
div:nth-child(2):hover~.animation{
    width: 100%;
    background: var(--button-color);
    top: 215px;
}
div:nth-child(3):hover~.animation{
    width: 100%;
    background: var(--button-color);
    top: 271px;
}
/*table*/
table {
    margin-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #c7dbe4;
    text-align: left;
    padding: 10px;
}
tr:nth-child(1) {
    background-color: #3dbdf8;
}