/*///sidebar///*/
.animation{
    width: 100%;
    top: 271px;
}
div:nth-child(2):hover~.animation{
    width: 100%;
    top: 215px;
}
div:nth-child(1):hover~.animation{
    width: 100%;
    top: 158px;
}

.form-container{
    margin-left: 50px;
}
.hidden{
    display: none;
}
/*///footer///*/
footer{
    margin-top: 200px;
}
/*///search-bar//*/
.dieukienloc {
    display: flex;
}
.search-section{
    margin-top: 20px;
}
button{
    background-color: #3dbdf8;
    border: none;
    padding: 10px;
    border-radius: 2px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.themSV{
    margin-left: auto;
    font-size: 10px;
    width: 10%;
}
.themGV{
    margin-left: auto;
    font-size: 10px;
    width: 10%;
}

.add{
    cursor: pointer;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.add img{
    width: 20%;
}

/*table*/
table {
    margin-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #c7dbe4;
    text-align: left;
    padding: 10px;
}
tr:nth-child(1) {
    background-color: #3dbdf8;
}
input{
    padding: 5px;
    width: 500px;
    margin-top: 40px;
    font-size: 16px ;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    /*display: block;*/
    padding: 5px;
    font-size: 16px ;
    border: 1px solid #ccc;
    border-radius: 4px;
}