<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/assets/css/login_css/dangnhap.css}">
</head>
<body >
<form action="/login" method="post" class="main-page" >
    <p>ĐĂNG NHẬP</p>
    <h3>Trang Quản Lý</h3>
    <br>
    <div class="form-group">
        <label for="username">Tên người dùng:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <br>
    <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY" data-callback="enableLoginButton"></div>
    <br>
    <div id="message"></div>
    <br>
    <button type="submit">Đăng Nhập</button>
<!--    <img th:src="@{/assets/images/blue.jpg}" alt="">-->
</form>
<img th:src="@{/assets/images/blue.jpg}" alt="" id="body-img">
    <script>
        document.addEventListener("DOMContentLoaded", function() { const params = new URLSearchParams(window.location.search);
            const messageDiv = document.getElementById("message");
            if (params.has("logout")) { messageDiv.innerHTML = "Bạn đã đăng xuất thành công!"; }
            if (params.has("error")) { messageDiv.innerHTML = "Tên người dùng hoặc mật khẩu không đúng!"; } });
    </script>

</body>
</html>