<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/dangnhapweb/css/dangnhap.css">
    <link rel="icon" href="logo.png" type="image/x-icon">
</head>
<body>    
    <div class="main-page">
        <div class="img">
            <img src="logo.png" alt="logo_nho">     
        </div>
        <div class="log_in_page">
            <label for="tendangnhap">Tên Đăng Nhập: </label>
            <input type="text" class="input" id="tendangnhap">
            <label for="matkhau">Mật Khẩu: </label>
            <input type="password" class="input"id="matkhau">
            <input type="checkbox" name="luulaitoi" id="lulaitoi">
            <label for="luulaitoi">Lưu lại tôi?</label>    
        </div>
        <div class="captcha-container">
            <input type="text" id="captcha" name="captcha" required>
            <img id="captcha-img" src="" alt="CAPTCHA" onclick="refreshCaptcha()">
        </div>
        <button onclick="location.href='https://www.youtube.com/watch?v=JnGSFHazTkg'">Đăng nhập</button>
        <a class="quen_mat_khau" href="quenmk.html">Quên mật khẩu?</a>     
    </div> 
</body>
<script src="dangnhap.js"></script>
</html>