<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="/dangnhapweb/css/quenmk.css" />
    <link rel="icon" href="logo.png" type="image/x-icon" />
  </head>
  <body>
    <div class="main-page">
      <div class="back">
        <button onclick="location.href='dangnhap.html'">Quay về</button>
      </div>
      <h1>Lấy lại mật khẩu</h1>
      <div class="khung_nhap">
        <label for="email">Nhập lại email của bạn: </label>
        <input type="text" name="email" id="email" />
        <label for="sdt">Nhập lại số điện thoại: </label>
        <input type="text" name="sdt" id="sdt" />
      </div>
      <button
        id="log_in_btn"
        onclick="location.href='https://www.youtube.com/'"
      >
        Lấy lại mật khẩu
      </button>
    </div>
  </body>
</html>
